<!DOCTYPE html>
<html lang="es">

<head>
    <title>Shop example, listar articulos</title>
</head>

<body>
<h1>Listado de items</h1>

<div style="margin: 1rem;">


    {% for item in items %}
        <h2> {{ item.title }}</h2>
        <p> {{ item.id }}</p>
        <p> {{ item.created }}</p>

        <div>
{#
    Los nombres son demasiado confusos porque hay demasiados controladores
    que hacen las mismas cosas, pero esta es la acción que llama a mostrar_articulo.html.twig
#}
            <a href="{{ path('articulo_articulo', {'idArticulo': item.id}) }}" > Ver artículo {{ item.id }} </a>
            <br/>
        </div>
    {% endfor %}
</div>
</body>
</html>



